.resumeDetails{
    height: 120vh;   
    position: relative;
    text-align: center;
    height: 100vh;
    font-family: Poppins;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
    padding-top: 50px;
}

/* BELOW IS FOR THE SECTION CSS */

.l-left-wrapper{
    padding: 10px;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin-top: 16px;
    align-items: flex-start;
    padding-bottom: 30px;
    padding-top: 30px;
    /* text-align: center; */
}


.r-right-wrapper{
    padding: 10px;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin-top: 16px;
    align-items: flex-end;
    padding-bottom: 30px;
    padding-top: 30px;
    /* text-align: center; */
}


/* BELOW IS FOR THE WORD CSS */

.resume-title{
    margin-top: 0px; 
    margin-bottom: 1px;
    padding-bottom: 0px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}


.Main-title{
    margin-top: 0px; 
    padding-bottom: 0px;
    font-family: Poppins;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.Second-title{
    margin-top: 0px; 
    margin-bottom: 1px;
    padding-bottom: 10px;
    font-family: Poppins;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
}




