.f {
    height: 20vh;
    position: relative;
    background-image: linear-gradient(0deg, #ffd7e2 26%, #fff7f9);
    font-family: Poppins;
}

.f-title{
    color: #283b7d;
    text-align: center;
    font-size: 18px;
}